[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
nltk = "*"
beautifulsoup4 = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.8"
